:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-background-color: #2e2f42;
  --hero-btn-color: #4d5ae5;
  --hero-btn-hover-color: #404bbf;
  --footer-background-color: #2e2f42;
  --team-background-color: #f4f4fd;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* HEADER */

.logotype {
  font-family: "Raleway", sans-serif;
}

.header-page {
}
.header-nav {
}
.logotype {
}
.link {
}
.logo-header {
}
.header-nav-list {
}
.list {
}
.header-nav-item {
}
.header-nav-link {
}
.header-contacts {
}
.header-contacts-list {
}
.header-contacts-item {
}
.header-contacts-link {
}
