:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --hero-background-color: #2e2f42;
  --hero-btn-color: #4d5ae5;
  --hero-btn-hover-color: #404bbf;
  --footer-background-color: #2e2f42;
  --team-background-color: #f4f4fd;
  --primary-white-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* HEADER */

.logotype {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.logo-header {
  color: var(--secondary-text-color);
}

.header-page {
}
.header-nav {
}

.header-nav-list {
}

.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
/* 
.current {
  color: var();
} */
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contacts {
}
.header-contacts-list {
}
.header-contacts-item {
}
.header-contacts-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* SECTION HERO */

.hero {
  background-color: var(--hero-background-color);
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-white-color);
}
.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--primary-white-color);
  background-color: var(--hero-btn-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--hero-btn-hover-color);
}
